doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Meo-Calculator
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css", media="screen")
        link( href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet")
        
        link(rel='stylesheet', href='css/master.css')


    body
        .headbar
            .logo
                <!-- img(src="bolt-transparent.png") -->
                h1 MeoCalculator
        
        .infohero
            
            h1.infoheader Electric is the future, now.
            p.infotext Electric cars are getting more and more popular and also more and more efficient and powerful, the revolution is at hand. Not only can you save money in the long run, but you can also save the environment from Greenhouse effects and pollution. find out more about environmental benefits by clicking the button.
            .button 
                a(href="#") More Info

        .selectwrapper
            .selectheadbar
                h1 Select Car 1
                h1.dropbtn V
            .selectchoicewrapper
                .carboxgrid
                    ul.car1
                        

        .selectwrapper
            .selectheadbar
                h1 Select Car 2
                h1.dropbtn V
            .selectchoicewrapper
                .carboxgrid
                    ul.car2
                        

        
        .timescrollwrapper
            h1 Select time 
            .sliderbar
                input(id="slider" type="range" min="1" max="10" value="1" step="1")
            h1.timeresult 
        
        .comptablewrapper
            .namebox
                h1.first 
                h1.second 
            h1.type.header Type
            .type.box
                p.first 
                p.second 
            h1.price.header Price
            .price.box
                p.first 
                p.second 
            
            h1.fuel.header Fuel cost
            .fuel.box
                p.first 
                p.second 
            
            h1.maintenance.header Maintenance cost 
            .maintenance.box
                p.first 
                p.second 
                
            h1.totalcost.header Total costs
            .totalcost.box
                p.first 
                p.second 
                
            

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='js/master.js')
